*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
}

html,body{
    height: 100%;
}

span.destaque{
    color: #010d57;
}

::-webkit-scrollbar-track {
    background-color: #666fa6;
}
::-webkit-scrollbar {
    background-color: #666fa6;
    width: 10px;
    
}
::-webkit-scrollbar-thumb {
    background-color: #010d57;
    border-radius: 1vw;
}
::-webkit-scrollbar-track-piece {
    background-color: #666fa6;
}

.parent{
    display: flex;
}

.sidebar{
    width:20%;
    height: 100%;
    position: fixed;
    background-color: #03126c;
}

.sidebar-pos{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}

.img-sidebar{text-align: center;}

.img-sidebar img{
    width: 80%;
    border:8px solid #010d57;
    border-radius: 50%;
}

.menu{
    margin:20px 0;
    text-align: center;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu li{
    opacity: 0.4;
    font-size: 24px;
    margin-bottom: 20px;
}

.menu li:hover{
    opacity: 1;
    text-decoration: underline solid white;
}

.menu li.selected{
    opacity: 1;
}

.content{
    position:absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-y:auto;
    padding:0 3%;
}

section.descricao{
    position: relative;
    top:100px;
}

section.descricao h2{
    color:#343a40;
    font-size: 46px;
}

/*--- Sobre ---*/

section.descricao h3{
    margin:15px 0;
    color: #6c757d;
    font-size: 26px;
}

section.descricao p{
    color:#6c757d;
    font-size:20px;
    margin-top:40px;
}

/*--- Final Sobre ---*/

/*--- Experiência ---*/

.experiencia{
    margin: 20px 0 30px;
}

section.descricao .experiencia h3{
    margin: 5px 0;
    color: #6c757d;
    font-size: 26px;
}

section.descricao .experiencia p{
    color:#6c757d;
    font-size:20px;
    margin: 5px 0;
}

/*--- Final Experiência ---*/

/*--- Educação ---*/

.agrupamento-cursos{
    border-top: 2px #6c757d solid;
    border-bottom: 2px #6c757d solid;
    /*border-radius: 10px;*/
    margin: 20px 10px 35px 0;
    padding: 10px;
}

.agrupamento-cursos h3.titulo{
    margin: -35px auto auto 20px;
    background-color: white;
    display: inline-block;
    padding: 2px 5px;
}

.curso{
    margin: 10px 0 15px;
}

section.descricao .curso h3{
    color: #6c757d;
    font-size: 26px;
    margin: 0;
}

section.descricao .curso p{
    color:#6c757d;
    font-size:20px;
    margin: 0;
}

/*--- Final Educação ---*/

.icons-social{
    margin-top:20px;
    margin-bottom: 150px;
}

.icons-social a{
    text-decoration:none;
    color: white;
    background-color: gray;
    width:40px;
    height:40px;
    border-radius:20px;
    display: inline-block;
    margin:0 10px;
    text-align: center;
    transition: 0.3s;
}

.icons-social a:hover{
    background-color: #010d57;
}

.icons-social i{
    line-height:40px;
}